body {
  font-size: 12pt;  
  font-family: courier, monospace;  
}

#content-area {
  margin:           20px auto;
  width:            800px;
  border:           2px solid #555;
  background-color: #F5F5F5;  
}

#course-number {
  font-size: 5.7em;
  letter-spacing: 0.25em;
  color: #DDDDDD;
  display: block;
}

#course-name {
  margin-top:     -75px;
  margin-bottom:  75px;  
  font-size:      2.5em;
  color:          #333;
  letter-spacing: 0.2em;
  display:        block;
}

h1, h2 {
  text-align:   center;
  font-variant: small-caps;
  font-weight:  bold;
  margin-top:   40px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;  
  font-size: 1.5em;
  letter-spacing: 0.25em;
  background-color: #555;
  color: #FFF;
}

h3 {
  font-weight: bold;
  text-decoration: underline;
  margin: 5px;
}

dl, ul, ol, p {
  margin: 10px;
  margin-bottom: 20px;
}

dt {
  margin-top: 10px;
  font-weight: bold;
}

dd {
    font-size: 0.85em;
}

dd, li {
  margin-left: 20px;
  margin-top: 5px;
}

li li {
  list-style: circle outside;
}

ul {
  list-style: disc outside;
}

ol {
  margin-left: 30px;
  list-style: decimal outside;
}

ul > li, ol > li {
  list-style: inherit;
  font-size: 0.85em;
}

p {
  font-size: 0.85em;
}

li p {
  font-size: 1.0em;
  margin: 0px;  
}

strong {
  font-weight: bold;
}

em {
    font-style: italic;
}

.quote {
  font-size: 0.80em;
  padding-left: 30px;
  padding-right: 30px;
}

.author {
  font-style: italic;
}


#due p {
  font-weight: bold;
  font-size: 1.25em;
  color: #FF2222;
}

pre {
  font-size: 0.85em;
  background: #222222;
  color: #25FF25;
  margin: 20px 40px;
  padding: 10px;
}

p code, li code {
  font-weight: bold;
  letter-spacing: 0.1em;
}
